<app-navbar></app-navbar>
<div class="container mt-5 shadow-lg p-3 ">
<table class="table border-danger">
    <thead>
      <tr>
        <th scope="col">Task Number</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Task Status</th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Website Redesign</td>
        <td>Redesign the homepage for the company website.</td>
        <td>2025</td>
        <td>Complete</td>
        <td><a class="button" style="font-weight: bold; color: black; "[routerLink]="['/viewtask']">View Task</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Team Meeting</td>
        <td>Organize a meeting for the marketing team to discuss Q2 strategy.</td>
        <td>2025</td>
        <td>Complete</td>
        <td><a class="button" style="font-weight: bold; color: black; "[routerLink]="['/viewtask']">View Task</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Bug Fixing</td>
        <td>Resolve the critical bugs in the mobile app.</td>
        <td>2025</td>
        <td>Complete</td>
        <td>
          <a class="button" style="font-weight: bold; color: black; "[routerLink]="['/viewtask']">View Task</a>
        </td>
      </tr>
      <td>
    </tbody>
  </table>
</div>



