<app-navbar></app-navbar>
<div class="container mt-5 shadow-lg p-3 ">
<dl class="row">
    <dt class="col-sm-3">Task Title:</dt>
    <dd class="col-sm-9">Website Redesign</dd>
  
    <dt class="col-sm-3">Task Description:</dt>
    <dd class="col-sm-9">The homepage redesign aims to create a modern, user-friendly experience that aligns with the company's brand and current trends. The focus will be on enhancing visual design, simplifying navigation, and optimizing content to effectively communicate the company’s value. Key priorities include making the site fully responsive across devices, improving page load speed, and following SEO best practices. </dd>
  
    <dt class="col-sm-3">Task Due Date:</dt>
    <dd class="col-sm-9">02-27-2025</dd>
  
    <dt class="col-sm-3 ">Task Status</dt>
    <dd class="col-sm-9">In-Progress</dd>
  
    
    
   </dl>
</div>